/*------------------------*/
/* DESIGN - COLOR PALETTE */
/*------------------------*/

.color-palette {
  display: flex;
  justify-content: center;
}

.color-palette div {
  width: 100px;
  height: 500px;
}

.color-1 {
  background-color: rgba(242, 242, 242, 1);
}
.color-2 {
  background-color: rgba(204, 204, 204, 1);
}
.color-3 {
  background-color: rgba(255, 229, 229, 1);
}
.color-4 {
  background-color: rgba(180, 237, 199, 1);
}
.color-5 {
  background-color: rgba(7, 51, 89, 1);
}
.color-6 {
  background-color: rgba(255, 250, 165, 1);
}
/*---------*/
/* GLOBAL */
/*---------*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(242, 242, 242, 1);
}

/*---------*/
/* LANDING */
/*---------*/

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: rgba(7, 51, 89, 1);
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-size: 4em;
  margin-right: 10px;
}

h3 {
  line-height: 1.6;
  margin-top: 15px;
}

nav a {
  margin: 10px;
  font-size: 1.5em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

p,
li {
  color: rgb(39, 39, 39);
  line-height: 1.6;
  font-size: 1.1em;
  font-family: "Glegoo", serif;
}

/*--- HEADER ---*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 2%;
  border-bottom: 5px solid rgba(204, 204, 204, 1);
  margin-top: 1%;
}

/*--- MAIN ---*/
.landing-main {
  display: flex;
  margin: 0 5%;
}

/*--- background pattern ---*/
.landing-pattern {
  margin-top: 1%;
  width: 40%;
}

.fa-plus {
  position: relative;
  font-size: 2em;
}

.p1,
.p2 {
  color: rgba(204, 204, 204, 1);
  top: 10%;
}

.p3,
.p4 {
  color: rgba(180, 237, 199, 1);
  top: 30%;
  right: 10%;
}

.p5,
.p6 {
  color: rgba(255, 229, 229, 1);
  top: 20%;
  right: 5%;
}

.p7,
.p8 {
  color: rgba(255, 250, 165, 1);
}

.p9,
.p10 {
  color: rgba(204, 204, 204, 1);
  right: 15%;
  top: 50%;
}

.p11,
.p12 {
  color: rgba(180, 237, 199, 1);
  top: 60%;
}
.p13,
.p14 {
  color: rgba(255, 229, 229, 1);
  top: 80%;
}
.p15,
.p16 {
  color: rgba(255, 250, 165, 1);
  top: 70%;
}

/*--- bio ---*/
.short-bio {
  margin: 3%;
  width: 57%;
}

.short-bio ul {
  display: flex;
}

.list-col-1,
.list-col-2 {
  width: 50%;
}

/*---------------*/
/*---PORTFOLIO---*/
/*---------------*/

/*---text and image sizes---*/
.portfolio-page h2,
.about-page h2,
.contact-page h2 {
  background-color: rgba(242, 242, 242, 1);
  position: relative;
  top: -28px;
  display: inline-block;
  left: 44%;
  padding: 5px;
  font-size: 2em;
}

.feat-proj-img {
  width: 100%;
}

.icf-img {
  width: 100%;
}

.fa-github,
.fa-external-link-alt {
  font-size: 1.5em;
  padding: 2px;
  margin-right: 1%;
}

.heroku-logo {
  width: 25px;
}

/*---layout---*/

.portfolio-page {
  margin: 0 5%;
}

.portfolio-projects-container {
  display: flex;
}

.proj-img {
  margin-bottom: 5px;
}

.portfolio-icons {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.portfolio-page a {
  line-height: 0;
}

.col-1 {
  width: 60%;
}

.col-2 {
  width: 40%;
}

.featured-project {
  margin-right: 5%;
}

/*---------------*/
/*---Contact---*/
/*---------------*/

.contact-page {
  margin: 0 5%;
}
.contact-page-container {
  display: flex;
}

.contact-info-container {
  width: 40%;
}

.contact-form-container {
  width: 60%;
}

.contact-page-icons {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-field {
  padding: 2%;
  font-size: 1.4em;
  margin: 0.5% 0;
  border: 1px solid rgba(7, 51, 89, 1);
  border-radius: 5px;
  color: rgba(204, 204, 204, 1);
}

textarea {
  height: 200px;
}

.submit-button {
  background-color: rgba(7, 51, 89, 1);
  color: rgba(242, 242, 242, 1);
}

/*---------------*/
/* SMALL SCREENS */
/*---------------*/

@media only screen and (max-width: 560px) {
  header {
    height: 25vh;
    justify-content: center;
  }

  h1 {
    margin-right: 20px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    margin: 5px;
    font-size: 1.4em;
    text-decoration: none;
  }

  /*--- SM - LANDING ---*/

  .landing-main {
    display: flex;
    flex-direction: column;
  }

  .landing-pattern {
    display: none;
  }

  .short-bio {
    margin: 5%;
    width: 90%;
  }

  h3 {
    margin-top: 20px;
  }

  ul {
    list-style: none;
  }

  li {
    line-height: 1.3;
  }

  ul li::before {
    content: "\2022";
    color: rgba(7, 51, 89, 1);
    font-size: 1.3em;
    display: inline-flex;
    width: 1em;
    margin-left: -1em;
  }
}
